<!-- Top Navbar -->
<nav class="top-navbar">
    <div class="menu-icon">
        <i class="fas fa-bars"></i>
    </div>
    <div class="search-bar">
        <select class="category-dropdown">
            <option>Select Category</option>
        </select>
        <input type="text" placeholder="Search by brands, category, items, etc.">
        <button class="scan-icon"><img src="../../assets/Vector.png" alt=""></button>
        <div>|</div>
        <button class="search-icon"><img src="../../assets/Icon (1).png" alt=""></button>
    </div>
    <div class="nav-icons">
        <span class="material-symbols-outlined">
            notifications_unread
            </span>
        <i class="fas fa-heart"></i>
        <i class="fas fa-shopping-cart"></i>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="../../assets/image 1.jpeg" alt="User Profile" class="profile-pic">
            </button>
            <div class="dropdown-content">
                <div class="user-info">
                    <img src="../../assets/image 1.jpeg" alt="User Profile">
                    <div class="details">
                        <h4>Mobina Charles</h4>
                        <p>Mobinacharles12gmail.com</p>
                    </div>
                </div>
                <a href="#"><i class="fas fa-headset"></i> Customer Support 24/7</a>
                <a href="#"><i class="fas fa-store"></i> Become a seller</a>
                <a href="#"><i class="fas fa-box"></i> Your Orders</a>
                <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
    </div>
</nav>

<!-- Delivery Bar -->

<div class="delivery-bar">
    <i class="fas fa-map-marker-alt"></i>
    <span>Deliver to Dakshata, Chennai  <i class="fa-solid fa-angle-down"></i></span> 
</div>


<!-- Categories Navbar -->
<div class="categories-bar">
    <button>Electronics <i class="fa-solid fa-angle-down"></i></button>
    <button>Fashion <i class="fa-solid fa-angle-down"></i></button>
    <button>Beauty <i class="fa-solid fa-angle-down"></i></button>
    <button>Home Improvement <i class="fa-solid fa-angle-down"></i></button>
    <button>Sports, Toys & Luggage <i class="fa-solid fa-angle-down"></i></button>
    <button>Groceries <i class="fa-solid fa-angle-down"></i></button>
    <button>Daily Essentials <i class="fa-solid fa-angle-down"></i></button>
</div>
